# Table Of Content

# Project Overview

The goal of this project is to develop a predictive model capable of estimating the likelihood that a client will subscribe to a bank term deposit following a telemarketing call.

This project leverages the Bank Marketing Dataset from the UCI Machine Learning Repository — a dataset originally used in the study by Moro, Cortez, and Rita (2014), “A Data-Driven Approach to Predict the Success of Bank Telemarketing” (Decision Support Systems, 2014).

The dataset contains detailed information on clients’ demographic, financial, and behavioral attributes, along with macroeconomic indicators.
The inclusion of these five additional socio-economic features—such as employment variation rate, consumer confidence, and EURIBOR rate—has been shown to substantially improve predictive performance, making this dataset the preferred choice for this analysis.

# Data Collection and Initial Processing

This section provides an overview of the dataset used in this project and outlines its structure, attributes, and analytical significance.

## Dataset Overview

The data used in this project originates from the Bank Marketing (with social/economic context) dataset.
It was curated by Sérgio Moro, Paulo Cortez, and Paulo Rita in 2014, and is publicly available for research purposes through the UCI Machine Learning Repository.

Two datasets are provided within the original archive:

- bank-additional-full.csv — containing 41,188 records, ordered by campaign date (May 2008–November 2010).

- bank-additional.csv — a 10% random sample of the full dataset (4,119 records).

For this project, analysis will focus on bank-additional-full.csv, as it contains all available instances and includes the five additional socio-economic indicators shown by Moro et al. (2014) to improve predictive accuracy.

## Data Description
The dataset comprises **21 variables** — 20 input features and 1 binary target variable (y).

**Input Features:**

- **Client attributes:** age, job type, marital status, education, default, housing, loan.

- **Campaign contact details:** contact type, month, day of week, duration, campaign, pdays, previous, poutcome.

- **Macroeconomic indicators:** employment variation rate, consumer price index, consumer confidence index, EURIBOR 3-month rate, number of employees.

**Target Variable:**

- **y:** indicates whether the client subscribed to a term deposit (yes / no).

**Missing Values:**
Some categorical attributes contain "unknown" entries, which represent missing or undisclosed information.

## Analytical Relevance
This dataset is highly relevant for predictive modeling in marketing and financial services because it combines:

- Individual-level behavioral data — client demographics, financial history, and campaign interactions.

- Contextual macroeconomic data — economic indicators that reflect the external environment influencing customer decisions.

Together, these features support both **classification modeling** (predicting y) and **insight generation**, such as identifying key drivers of successful marketing outcomes.

## Project Alignment
This project aims to replicate and extend the findings of Moro et al. (2014) by applying **modern machine learning techniques** — such as logistic regression, random forests, and gradient boosting — to predict campaign success and optimize telemarketing strategies.

By focusing on the enriched dataset (bank-additional-full.csv), this analysis seeks to:

- Accurately **predict telemarketing success outcomes**.

- **Identify influential affecting** client response.

- **Generate actionable insights** to improve targeting and reduce campaign costs.

## Data Ingestion and Integration

Following the project alignment phase, the next step focuses on assembling a clean and comprehensive dataset for analysis. Multiple CSV files containing campaign details, customer demographics, and call outcomes are ingested and merged into a single unified dataframe using Python’s pandas library. During this process, shared identifiers are used to align records across files, while NumPy and pandas utilities support validation checks to ensure consistency, resolve missing or mismatched entries, and confirm structural integrity. The resulting dataset provides a reliable foundation for the subsequent preprocessing, modeling, and analysis stages.

### Library Imports
To load the data, we need to import the pandas library which will be used to read and combine the CSV files.

Other libraries used at latter parts of project will also be imported here, to ensure a consistent and organized workflow.

In [1]:
# library imports

import pandas as pd

### Creating DataFrames from Data Sources

With pandas imported, the next step is to read in the data from the various data files.
Each source file is loaded into a separate pandas DataFrame.

This approach allows for easy inspection of each dataset before merging them into one big dataframe for a unified analysis.

In [2]:
# reading datasets into dataframes

df1 = pd.read_csv("data/bank-full.csv", sep=";")
df2 = pd.read_csv("data/bank.csv", sep=";")
df3 = pd.read_csv("data/bank-additional-full.csv", sep=";")
df4 = pd.read_csv("data/bank-additional.csv", sep=";")

### Data Inspection and Validation

After loading the datasets into separate DataFrames, the next step is to inspect and validate each one before merging.
This helps ensure that all files were read correctly and that their structures are consistent.

We begin by:

- Viewing sample records with head() to confirm data integrity.

- Checking dataset dimensions using shape.

- Reviewing data types and non-null counts with info().

- Identifying missing values using isnull().sum().

- Verifying that key identifiers (e.g., customer_id, campaign_id) are present and properly formatted.

These checks help detect potential issues early and ensure a smooth integration process in the next step.

#### df1

In [3]:
# view sample records to confirm data integrity

df1.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no

In [4]:
# Checking dataset dimensions

df1.shape

(45211, 17)

In [5]:
# Reviewing data types and non-null counts
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [6]:
# Identifying missing values

df1.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

##### Observation
- Columns: `'age', 'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'`
- No key/unique identifier (e.g campaign IDs) found.
- Some columns seem to have same value for all rows. Further exploration needed.

#### df2

In [7]:
# view sample records to confirm data integrity

df2.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no

In [8]:
# Checking dataset dimensions

df2.shape

(4521, 17)

In [9]:
# Reviewing data types and non-null counts
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

In [10]:
# Identifying missing values

df2.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

##### Observation
- Columns: `'age', 'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'`
- No key/unique identifier (e.g campaign IDs) found.
- Most of the columns and corresponding categorical classes are present in df1 as well

#### df3

In [11]:
# view sample records to confirm data integrity

df3.head(10)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
5,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
7,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
9,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [12]:
# Checking dataset dimensions

df3.shape

(41188, 21)

In [13]:
# Reviewing data types and non-null counts
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [14]:
# Identifying missing values

df3.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

##### Observation
- Columns: `'age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y'`
- No key/unique identifier (e.g campaign IDs) found.
- less columns than df1 and df2
- Similar columns with df1 and df2
- Some columns seem to have same value for all rows. Further exploration needed.

#### df4

In [15]:
# view sample records to confirm data integrity

df4.head(10)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
5,32,services,single,university.degree,no,no,no,cellular,sep,thu,...,3,999,2,failure,-1.1,94.199,-37.5,0.884,4963.6,no
6,32,admin.,single,university.degree,no,yes,no,cellular,sep,mon,...,4,999,0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6,no
7,41,entrepreneur,married,university.degree,unknown,yes,no,cellular,nov,mon,...,2,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
8,31,services,divorced,professional.course,no,no,no,cellular,nov,tue,...,1,999,1,failure,-0.1,93.200,-42.0,4.153,5195.8,no
9,35,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no

In [16]:
# Checking dataset dimensions

df4.shape

(4119, 21)

In [17]:
# Reviewing data types and non-null counts
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4119 non-null   int64
 1   job             4119 non-null   object
 2   marital         4119 non-null   object
 3   education       4119 non-null   object
 4   default         4119 non-null   object
 5   housing         4119 non-null   object
 6   loan            4119 non-null   object
 7   contact         4119 non-null   object
 8   month           4119 non-null   object
 9   day_of_week     4119 non-null   object
 10  duration        4119 non-null   int64
 11  campaign        4119 non-null   int64
 12  pdays           4119 non-null   int64
 13  previous        4119 non-null   int64
 14  poutcome        4119 non-null   object
 15  emp.var.rate    4119 non-null   float64
 16  cons.price.idx  4119 non-null   float64
 17  cons.conf.idx   4119 non-null   float64
 18  euribor3m       4119 non-null   float64
 19  nr.employed     4119 non-null   float64
 20  y               4119 non-null   object
dtypes: float64(5), int64(5), object(11)
memory usage: 675.9+ KB

In [18]:
# Identifying missing values

df4.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

##### Observation
- Columns: `'age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y'`
- No key/unique identifier (e.g campaign IDs) found.
- less columns than df1 and df2
- Similar columns with df1 and df2

#### Tabular Summary

The shape and structure of all the dataframes are summarized in tabular form below.

In [19]:

# dictionary of all dataframes
dataframes = {
    "df1": df1,
    "df2": df2,
    "df3": df3,
    "df4": df4
}

# Function to summarize key info
def summarize_df(df):
    return {
        "Rows": df.shape[0],
        "Columns": df.shape[1],
        "Missing Values": df.isnull().sum().sum(),
        "Duplicate Rows": df.duplicated().sum(),
        "Numeric Columns": df.select_dtypes(include='number').shape[1],
        "Categorical Columns": df.select_dtypes(exclude='number').shape[1]
    }

# Generate summary table
summary = pd.DataFrame({name: summarize_df(df) for name, df in dataframes.items()}).T
summary

,Rows,Columns,Missing Values,Duplicate Rows,Numeric Columns,Categorical Columns
df1,45211,17,0,0,7,10
df2,4521,17,0,0,7,10
df3,41188,21,0,12,10,11
df4,4119,21,0,0,10,11

#### Observations

- The data from each source aligns with the descriptions provided in the accompanying documentation.

- Overall data quality is good — there are no missing values, and duplicate rows are present only in the first dataset.

- Two of the data sources are subsets extracted from the larger datasets.

#### Next Steps

The results of the data inspection and validation across the four datasets indicate the following actions:

- Standardize column names to ensure consistency across all datasets.

- Remove duplicate rows identified in the first dataset.

- Convert column data types to appropriate formats where necessary (e.g., numeric, datetime, categorical).

- Perform feature engineering to create or refine variables that enhance analytical and predictive value.

#### Standardize Column Names

To ensure consistency across all datasets, column names are standardized by converting them to lowercase and replacing spaces with underscores.

In [20]:

for name, df in dataframes.items():
    df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

#### Removing Duplicate Rows

During data validation, duplicate rows were detected in the bank-additional-full.csv dataset (df3).
To ensure data integrity and prevent bias during analysis, these duplicates are identified and removed.

In [22]:
# Check for duplicate rows
print("Number of duplicate rows before removal:", df3.duplicated().sum())

# Remove duplicate rows
df3 = df3.drop_duplicates()

# Verify that duplicates have been removed
print("Number of duplicate rows after removal:", df3.duplicated().sum())

# Confirm resulting shape
print("Updated shape of df1:", df3.shape)

Number of duplicate rows before removal: 12
Number of duplicate rows after removal: 0
Updated shape of df1: (41176, 21)

#### Data Type Conversion and Feature Engineering

From the initial inspection, all columns appear to have appropriate data types, and no immediate feature engineering is required at this stage.

However, these steps will be revisited during Exploratory Data Analysis (EDA) if any columns require type adjustments or if new features are needed to enhance analytical insights.

# Exploratory Data Analysis (EDA)

Next to the data collection and initial processing step is EDA. The data is explored to understand its underlying structure, relationships, and patterns.
EDA is a critical step in the overall project as it helps to reveal key insights, detect anomalies, and identify potential predictors that will guide subsequent modeling steps.

# Predictive Modeling

# Prescriptive Analytics and Recommendations

# Model Deployment